* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

nav {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

button {
  height: 100%;
  cursor: pointer;
  flex: 1;
}

.selected {
  background-color: black;
  color: white;
}

main {
  height: 100%;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul {
  max-width: 80vw;
}

li {
  margin: 15px;
}

li:first-of-type {
  margin-top: 0;
}

.error {
  color: red;
  font-size: 0.75rem;
  margin: 0.25rem 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  color: #aaa;
}

table {
  table-layout: fixed;
  width: 90vw;
  margin: 0 auto;
}

td {
  /* overflow-x: scroll; */
  word-wrap: break-word;
  border: 1px dotted black;
  vertical-align: top;
}
